<h2 id="y<%= year%>">ASOT Episodes <%= year %></h2>
<% if asots.size > 5 %>
<p class='centered'>
  <img src='/images/votes_<%= year %>.png' alt='Top Episodes in <%= year %>' />
</p>
<% end %>

<table>
 <tr class='header'>
   <th colspan="6">Episodes by <%= by_votes? ? 'Rank / Votes' : 'Airdate' %></th>
 </tr>
 <tr>
  <th>ASOT</th>
  <% if by_votes? %>
  <th><a href='<%="/#y#{year.to_s}"%>' title='sort by Airdate'>Airdate</a></th>
  <th>Rank</th>
  <% else %>
  <th>Airdate</th>
  <th><a href='<%="/by-rank#y#{year.to_s}"%>' title='sort by Rank'>Rank</a></th>
  <% end %>
  <th>Year <br />Rank</th>
  <th>Votes</th>
  <th>&nbsp;</th>
  <th>Notes</th>
 </tr>

 <% cycle = cycle || "even" %>
 <% asots.each do |asot| %>

 <tr class='<%= cycle = (cycle == 'even' ? 'odd' : 'even') %>'>
 <% if top5 && top5.include?(asot) %>
  <td class="color_<%= top5.index(asot) %>"><%= asot.no %></td>
 <% else %>
  <td class='no'><%= asot.no %></td>
 <% end %>
   <%= format_airdate(asot) %>
   <td><%= asot.rank %></td>
   <% if top5 && top5.include?(asot) %>
   <td class="color_<%= top5.index(asot) %>"><%= asot.yearrank %></td>
   <% else %>
   <td><%= asot.yearrank %></td>
   <% end %>
  <td id='<%= asot.no %>_url' class='editinplaceUrl'><a href='<%= asot.url.to_s.strip %>'><%= asot.votes %></a></td>
   <td><a href="http://www.astateoftrance.com/news/episode-<%= asot.no %>/">Playlist</a></td>
  <td id='<%= asot.no %>_note' class='left editinplace'><%= h asot.notes %></td>
 </tr>

 <% end %>

</table>
