  <li>

  <div>
  <span class="rank"><%= a.rank %></span>
  <div class="episode"><a href=''>Episode <%= a.no %></a>
    <span class="votes">with <%= a.votes %> votes</span>
    <span class="airdate">on air <%= a.airdate %></span>

  <br/>
  <span class="notes">
  <% if a.notes %>
    <%= h a.notes %>
  <% else %>
     <br/> 
  <% end %>
  </span>
  </div>

  </div>

  </li>

