
<table>
 <tr>
  <th>ASOT</th>
  <th>Airdate</th>
  <th>Rank</th>
  <th>Votes</th>
  <th>Notes</th>
 </tr>

 <% cycle = cycle || "odd" %>
 <% asots.each do |asot| %>

 <tr class='<%= cycle = (cycle == 'even' ? 'odd' : 'even') %>'>
  <td class='no'><%= asot.no %></td>
   <%= format_airdate(asot) %>
   <td><%= asot.rank %></td>
 <td><a href='<%= asot.url %>' target='_blank'><%= asot.votes %></a></td>
  <td class='left'><%= h asot.notes %></td>
 </tr>

 <% end %>

</table>
