<h2 id="y<%= year%>">ASOT Episodes <%= year %></h2>
<% if asots.size > 5 %>
<p class='centered'>
  <img src='/images/votes_<%= year %>.png' alt='Top Episodes in <%= year %>' />
</p>
<% end %>

<%= render :partial => 'asot_table', :locals => { :asots => asots, :y => year  } %>
