<h2 id="y<%= year%>">ASOT Episodes <%= year %></h2>
<% if asots.size > 5 %>
<p class='centered'>
	<div id="asot<%=year%>chart" style="width: 800px; height: 400px; margin: 0 auto"></div>
</p>
<% end %>

<table>
 <tr class='header'>
   <th colspan="6">Episodes by <%= by_votes? ? 'Votes' : 'Airdate' %></th>
 </tr>
 <tr>
  <th>&nbsp;</th>
  <th>ASOT</th>
  <% if by_votes? %>
  <th><a href='<%="/#y#{year.to_s}"%>' title='sort by Airdate'>Airdate</a></th>
  <th>Votes</th>
  <% else %>
  <th>Airdate</th>
  <th><a href='<%="/by-rank#y#{year.to_s}"%>' title='sort by Votes'>Votes</a></th>
  <% end %>
  <th>&nbsp;</th>
  <th>Notes</th>
 </tr>

 <% cycle = cycle || "even" %>
 <% asots.each do |asot| %>

 <tr class='<%= cycle = (cycle == 'even' ? 'odd' : 'even') %>'>
  <td style=""><a class='votelink' href="#" no='<%= asot.no %>'>Vote up!</a></td>
 <% if top5 && top5.include?(asot) %>
  <td class="color_<%= top5.index(asot) %>"><%= asot.no %></td>
 <% else %>
  <td class='no'><%= asot.no %></td>
 <% end %>
   <%= format_airdate(asot) %>
  <td id='<%= asot.no %>_url' class='editinplaceUrl'><a href='<%= asot.url.to_s.strip %>'><%= asot.votes %></a>
   <% if asot.uservotes.count > 0 %>
   + <%= asot.uservotes.count %>
   <% end %>
   </td>
   <td><a href="http://www.astateoftrance.com/news/episode-<%= asot.no %>/">Playlist</a></td>
  <td id='<%= asot.no %>_note' class='left editinplace'><%= h asot.notes %></td>
 </tr>

 <% end %>

</table>
