 <tr class="<%= cycle("even", "odd") -%>">
  <td><%= asot.no %>
  </td>
  <td>
  <% if asot.airdate %> 
   <%= asot.airdate.strftime('%Y-%m-%d') %>
  <% end %>
  </td>
  <td><%= asot.rank %></td>
  <% unless asot.url %> 
  <td>with <%= asot.votes %> votes</td>
  <% else %>
  <td><%= link_to(asot.votes, asot.url) %></td>
  <% end %>
  <td><%= h asot.notes %></td>
 </tr>
