 <tr>
  <td><%= asot.no %></td>
  <% unless asot.airdate %> 
  <td>n/a</td>
  <% else %>
  <td><%= asot.airdate.strftime('%d. %b %Y') %></td>
  <% end %>
  <td><%= @by_votes.find_index(asot) + 1 %></td>
  <td><%= asot.notes %></td>
  <td><%= asot.votes %></td>
  <td><%= link_to(asot.url[-50..-1], asot.url) %></td>
 </tr>

