 <tr class="<%= cycle("even", "odd") -%>">
  <td><%= asot.no %>
  <% if asot.airdate %> 
   from <%= asot.airdate.strftime('%Y-%m-%d') %>
  <% end %>
  </td>
  <td><%= asot.rank %></td>
  <% unless asot.url %> 
  <td>with <%= asot.votes %> votes</td>
  <% else %>
  <td>with <%= link_to(asot.votes, asot.url) %> votes</td>
  <% end %>
 </tr>

<% if asot.notes %>
<tr class='note'>
  <td colspan='4'><%= h asot.notes %></td>
</tr>
<% end %>
