<%
  top_ten = nil unless defined?(top_ten)
  top_ten = nil if local_assigns[:top_ten].nil?
%>

 <tr class="<%= cycle("even", "odd") -%>">
  <td><%= asot.no %>
  </td>
  <td>
  <% if asot.airdate %> 
   <%= asot.airdate.strftime("%d-%b-%Y") %>
  <% end %>
  </td>
  <td><%= asot.rank %></td>
  <% unless top_ten -%>
  <td><%= asot.yearrank %></td>
  <% end -%>
  <% unless asot.url %> 
  <td>with <%= asot.votes %> votes</td>
  <% else %>
  <td><%= link_to(asot.votes, asot.url, :target => '_blank') %></td>
  <% end %>
  <td><%= h asot.notes %></td>
 </tr>
