 <tr>
  <td><%= asot.no %></td>
  <% unless asot.airdate %> 
  <td>n/a</td>
  <% else %>
  <td><%= asot.airdate.strftime('%d. %b %Y') %></td>
  <% end %>
  <td><%= asot.rank %></td>
  <td><%= h asot.notes %></td>
  <td><%= asot.votes %></td>
  <% unless asot.url %> 
  <td>n/a</td>
  <% else %>
  <td><%= link_to(asot.url[-50..-1], asot.url) %></td>
  <% end %>
 </tr>

