<%
  top_ten = nil unless defined?(top_ten)
  top_ten = nil if local_assigns[:top_ten].nil?
%>
 <tr class="<%= cycle("even", "odd") -%>">
 <% if (1..5).include? asot.yearrank and not top_ten -%>
   <td class="rank_<%= asot.yearrank -%>">
 <% else -%>
  <td class='no'> 
 <% end -%>
  <%= asot.no %></td>

  <td>
  <% if asot.airdate %> 
   <%= asot.airdate.strftime("%d-%b-%Y") %>
  <% end %>
  </td>
  <td><%= asot.rank %></td>
  <% unless top_ten -%>
 <% if (1..5).include? asot.yearrank -%>
   <td class="rank_<%= asot.yearrank -%>">
 <% else -%>
  <td> 
 <% end -%>
  <%= asot.yearrank %></td>
  <% end -%>
  <% unless asot.url %> 
  <td>with <%= asot.votes %> votes</td>
  <% else %>
  <td><%= link_to(asot.votes, asot.url, :target => '_blank') %></td>
  <% end %>
  <td class='left'><%= h asot.notes %></td>
 </tr>
