
<h1><%= link_to 'Best ASOT ever?', index_path %></h1>
<div id='intro'>
<p>So, which is the best <a href='http://www.arminvanbuuren.com/asot/' target='_blank'>
A State of Trance</a> Episode, after all? Frankly, I don't know either.</p>

<p>But to help you decide which is the best, I have compiled this list of ASOT episodes from recent years. 
The number of <i>simply amazing!</i> votes from the <a href="http://di.fm" target='_blank'>Digitally Imported</a> forum posts is listed for each ASOT episode as a popularity indicator.
</p>

<p>
What? Just the simply amazing votes should decide which one is the best ASOT? Is this accurate? I think it's good enough.
</p>

<p>Each week many, many people from all around the world listen to ASOT via <a href="http://di.fm" target='_blank'>di.fm</a>. Many of them then cast their vote on the di.fm forum. I have a feeling that this database should at least give a hint at what might be the Best ASOT ever. But in the end, you decide for yourself...
</p>

<p>Have fun!</p>
</div>

<ul class="toc">
    <li> <a href="#top10">Top 10</a> </li>   
    <li> <a href="#y2008">Year 2008</a> </li>   
    <li> <a href="#y2007">Year 2007</a> </li>   
    <li> <a href="#y2006">Year 2006</a> </li>   
    <li> <a href="#faq">FAQ</a> </li>   
</ul>



<h2 id='top10'>Top 10 ASOTs off all time</h2>
<div>
<%= render :partial => 'asot_table', :locals => { :asots => @by_votes[0..9], :top_ten => true, :y => '' } %>
</div>

<%= render :partial => 'asots_for_year', :locals => { :year => '2008', :asots => @episodes_2008  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2007', :asots => @episodes_2007  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2006', :asots => @episodes_2006  } %>


<%= render :partial => 'faq' %>

