<h1>Top ASOTs off all time</h1>

<div>
<%= render :partial => 'asot_table', :locals => { :asots => @by_votes[0..9] } %>
</div>

<%= render :partial => 'asots_for_year', :locals => { :year => '2008', :asots => @episodes_2008  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2007', :asots => @episodes_2007  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2006', :asots => @episodes_2006  } %>


<%= render :partial => 'faq' %>

