
<h1><%= link_to 'Best ASOT ever?', index_path %></h1>
<div id='intro'>
<p>So, which is the best <a href='http://www.arminvanbuuren.com/asot/' target='_blank'>
A State of Trance</a> Episode, after all? Frankly, I don't know either.</p>

<p>But to help you decide which is the best, I have compiled this list of ASOT episodes from recent years. 
The number of <i>simply amazing!</i> votes from the <a href="http://di.fm" target='_blank'>Digitally Imported</a> forum posts is listed for each ASOT episode as a popularity indicator.
</p>

<p>Have fun!</p>
</div>

<ul class="toc">
    <li> <a href="#top10">Top 10</a> </li>   
    <li> <a href="#y2009">2009</a> </li>   
    <li> <a href="#y2008">2008</a> </li>   
    <li> <a href="#y2007">2007</a> </li>   
    <li> <a href="#y2006">2006</a> </li>   
    <li> <a href="#faq">FAQ</a> </li>   
</ul>



<h2 id='top10'>Top 10 ASOTs off all time</h2>
<div>
<%= render :partial => 'asot_table', :locals => { :asots => @by_votes[0..9], :top_ten => true, :y => '' } %>
</div>

<%= render :partial => 'asots_for_year', :locals => { :year => '2009', :asots => @episodes_2009  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2008', :asots => @episodes_2008  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2007', :asots => @episodes_2007  } %>
<%= render :partial => 'asots_for_year', :locals => { :year => '2006', :asots => @episodes_2006  } %>


<%= render :partial => 'faq' %>

