<h1>Best ASOT ever</h1>

<h2>Top 5 ASOTs off all time</h2>
<table>
<% for a in @top5 %>
 <tr>
  <td><%= a.no %></td>
  <td><%= a.di_votes %></td>
  <td><%= link_to(a.di_url, a.di_url) %></td>
 </tr>
<% end %>
</table>


<h2>Last 5 ASOTs</h2>
<table>
<% for a in @last5 %>
 <tr>
  <td><%= a.no %></td>
  <td><%= a.di_votes %></td>
  <td><%= link_to(a.di_url, a.di_url) %></td>
 </tr>
<% end %>
</table>


<h2>All ASOTs (<%= @asots.length%> and counting)</h2>
<table>
<% for a in @asots %>
 <tr>
  <td><%= a.no %></td>
  <td><%= a.di_votes %></td>
  <td><%= link_to(a.di_url, a.di_url) %></td>
 </tr>
<% end %>
</table>
